---
layout: default
title: Gabriel Nicholas

fave: <span class="fave">*</span> 

categories: ['ai', 'como', 'data-sharing']
category-names: {'ai':'Artificial Intelligence', 'como':'Content Moderation','data-sharing':'Data Sharing & Interoperability'}

---

<h1>{{ page.title }}
<div class=profile-picture-box>
	<img id=profile-picture src="/assets/images/profile.jpg" alt="Headshot">
</div>
</h1>
	<p>Hi there. I'm a writer, researcher, and programmer based in Brooklyn, NY. I am currently a Research Fellow at the Center for Democracy & Technology where I work on issues around AI, content moderation, and data sharing. I am also a Non-Resident Fellow at the NYU School of Law Information Law Institute. My work has been featured in <i><a href= {{ site.data.media.atlantic}}>The Atlantic</a></i>, <i><a href= {{ site.data.media.nytimes}}>The New York Times</a></i>, <i><a href= {{ site.data.media.wapo}}>The Washington Post</a></i>, and CNN's <i><a href= {{ site.data.media.cnn }}>Anderson Cooper 360.</a></i> Before working in tech policy, I was a software engineer at Yahoo for five years.</p>
	<p> You can follow me on <a href = {{ site.data.contact.twitter }}>Twitter</a> or contact me at {{site.data.contact.email}}. <i>(If you are a human, please remove the "RRRR" from the email address before you send.)</i>
	</p>
	<p class=favorites-disclaimer>I've put an asterisk ({{page.fave}}) next to a few of my favorite publications.</p>
</div>
<h2>{{site.data.links.longPapers.title}}</h2>
{% assign longPapers = site.data.links.longPapers.list | sort:'date' | reverse%}
{% for topic in page.categories %}
	<h3>{{page.category-names[topic]}}</h3>
	<ul>
	{% for pub in longPapers %}
		{% if pub.topic == topic %}
			<li>
				{% include publication.html item=pub faveIcon=page.fave %}
			</li>
		{% endif %}
	{% endfor %}
	</ul>
{% endfor %}

{% for section in site.data.links.otherPublications %}
	<h2>{{section.title}}</h2>
	<ul>
	{% for pub in section.list %}
		{% if pub.topic == topic %}
			<li>
				{% include publication.html item=pub faveIcon=page.fave %}
			</li>
		{% endif %}
	{% endfor %}
	</ul>
{% endfor %}

<h2>Conferences & Presentations</h2>
	<ul>
	{% for conf in site.data.links.conferences.list %}
		<li>
			<div>
				"{{conf.name}}" {% if conf.organizer == true %}(Organizer) {% endif %}

			</div>
			<div>
				{% if conf.conference != nil %} <span class="conf-conference"> {{conf.conference}}</span>, {% endif %}
				{{conf.host}} — {{conf.date}} {% if conf.link != nil %}(<a href={{conf.link}}>Link</a>){% endif %}
			</div>
		</li>
	{% endfor %}
	</ul>
